@import "tailwindcss";
/* #0b0f1a */
/* #171a25 */
/* #090b14 */
html {
  scroll-behavior: smooth;
}

p {
  font-family: Inter;
}

::-webkit-scrollbar {
  /* background: rgba(1, 91, 1, 0.438); */
  background: #080c18;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  /* border: 1.5px solid hsl(120, 99%, 10%); */
  /* background: #080c18; */
  /* border: 1.5px solid rgb(1, 252, 1); */
  /* box-shadow: 0 0 4px hsl(120, 99%, 30%) inset; */
  border-radius: 10px;
  background: rgb(1, 252, 1);
}
